# STM32CubeIDE and GCC build files
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.srec
*.log
*.lst

# STM32CubeIDE folders
Debug/
Release/
.ipch/
.vscode/
.settings/
*.launch

# macOS/Windows temp
.DS_Store
Thumbs.db
